.App {
  text-align: center;
}

.flag {
  margin-top: -20px;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  height: min-content;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Button-Select {
  white-space: break-spaces;
  font: 1em Rowdies;
  font-size: 20 px;
  color: #000000;
  width: 200px;
  height: 50px;
  margin: 10px; /* for 10px of margin space */
  padding: 10px; /* for 10px of padding space */
  background-color: #f2f6f8; /* a light shade of blue */
  border: 2px solid rgb(68, 148, 228); /* an inner border */
  border-radius: 9px; /* rounded edges */
}
.Button-Select:hover {
  color: #f2f6f8;
  background-color: blue;
  cursor: pointer;
}

.Btn-Container {
  padding: 50px;
}

.CorrectCount {
  padding: 1;
  color: green;
  font-size: x-large;
}
.WrongCount {
  padding: 1px;
  color: red;
  font-size: x-large;
}

h2 {
  font-size: medium;
}
